<div class="form-container">
{form name="customfields_form_custom_field_value"}
    <form
        method="POST"
        action="{url path='/admin/module/customfields/values/save'}"
        {form_enctype}
        class="clearfix"
    >

        {form_field field="source_id"}
            <input type="hidden" name="{$name}" value="1" />
        {/form_field}

        {form_field field="source"}
            <input type="hidden" name="{$name}" value="general" />
        {/form_field}

        <input type="hidden" name="edit_language_id" value="{$edit_language_id}" />

        {form_hidden_fields}

        {* Language toolbar *}
        {include file="includes/inner-form-toolbar.html"
            hide_flags=false
            hide_submit_buttons=false
            page_url="/admin/module/customfields/list"
        }

        {if $general_custom_fields|@count > 0}

            {include file="./includes/fields-list.html"
               grouped_fields=$grouped_general_fields
                values=$general_values
            }
        {else}
            <div class="alert alert-info">
                {intl l="No general custom fields defined. Create custom fields with 'general' source first." d="customfields"}
            </div>
        {/if}
    </form>
{/form}
{hook name="wysiwyg.js" location="wysiwyg-customfields-general-js" }
</div>
