{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools_menu_header_customfields'}
{/block}

{block name="page-title"}{intl l='Custom Fields' d="customfields"}{/block}

{block name="check-resource"}admin.content{/block}
{block name="check-access"}view{/block}

{block name="main-content"}

    {if isset($smarty.get.success) && !empty($smarty.get.success)}
        <div class="alert alert-success">
            {$smarty.get.success}
        </div>
    {/if}

    {if isset($smarty.get.error) && !empty($smarty.get.error)}
        <div class="alert alert-danger">
            {$smarty.get.error}
        </div>
    {/if}

    <div class="general-block-decorator">
        {* Tab Navigation *}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="{if !$current_tab || $current_tab == 'fields'}active{/if}">
                <a href="#fields" aria-controls="fields" role="tab" data-toggle="tab">
                    {intl l="Custom Fields" d="customfields"}
                </a>
            </li>
            <li role="presentation" class="{if $current_tab == 'general_values'}active{/if}">
                <a href="#general_values" aria-controls="general_values" role="tab" data-toggle="tab">
                    {intl l="General Values" d="customfields"}
                </a>
            </li>
            <li role="presentation" class="{if $current_tab == 'import'}active{/if}">
                <a href="#import" aria-controls="import" role="tab" data-toggle="tab">
                    {intl l="Import / Export" d="customfields"}
                </a>
            </li>
            <li role="presentation" class="{if $current_tab == 'option_pages'}active{/if}">
                <a href="#option_pages" aria-controls="option_pages" role="tab" data-toggle="tab">
                    <i class="fas fa-file-alt"></i> {intl l="Option Pages" d="customfields"}
                </a>
            </li>
        </ul>

        {* Tab Content *}
        <div class="tab-content">
            {* Custom Fields Tab *}
            <div role="tabpanel" class="tab-pane {if !$current_tab || $current_tab == 'fields'}active{/if}" id="fields">
                <div class="row">
                    <div class="col-md-12">
                        {include file="custom-fields-listing.html"}
                    </div>
                </div>
            </div>

            {* General Values Tab *}
            <div role="tabpanel" class="tab-pane {if $current_tab == 'general_values'}active{/if}" id="general_values">
                <div class="row">
                    <div class="col-md-12">
                        {include file="custom-fields-general-values.html"}
                    </div>
                </div>
            </div>

            {* Import / Export Tab *}
            <div role="tabpanel" class="tab-pane {if $current_tab == 'import'}active{/if}" id="import">
                <div class="row">
                    <div class="col-md-12">
                        {include file="custom-fields-import.html"}
                    </div>
                </div>
            </div>

            {* Option Pages Tab *}
            <div role="tabpanel" class="tab-pane {if $current_tab == 'option_pages'}active{/if}" id="option_pages">
                <div class="row">
                    <div class="col-md-12">
                        {include file="custom-fields-option-pages.html"}
                    </div>
                </div>
            </div>

        </div>
    </div>
{/block}
