{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools_menu_header_customfields'}
{/block}

{block name="page-title"}{intl l='Custom Fields' d="customfields"}{/block}

{block name="check-resource"}admin.content{/block}
{block name="check-access"}view{/block}

{block name="main-content"}

    {if isset($smarty.get.success) && !empty($smarty.get.success)}
        <div class="alert alert-success">
            {$smarty.get.success}
        </div>
    {/if}

    {if isset($smarty.get.error) && !empty($smarty.get.error)}
        <div class="alert alert-danger">
            {$smarty.get.error}
        </div>
    {/if}

    <div class="general-block-decorator">
        {* Tab Navigation *}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="{if !$current_tab || $current_tab == 'fields'}active{/if}">
                <a href="#fields" aria-controls="fields" role="tab" data-toggle="tab">
                    {intl l="Custom Fields" d="customfields"}
                </a>
            </li>
            <li role="presentation" class="{if $current_tab == 'general_values'}active{/if}">
                <a href="#general_values" aria-controls="general_values" role="tab" data-toggle="tab">
                    {intl l="General Values" d="customfields"}
                </a>
            </li>
        </ul>

        {* Tab Content *}
        <div class="tab-content">
            {* Custom Fields Tab *}
            <div role="tabpanel" class="tab-pane {if !$current_tab || $current_tab == 'fields'}active{/if}" id="fields">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <div class="pull-right">
                                    <a href="{url path='/admin/module/customfields/create'}" class="btn btn-sm btn-success">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        {intl l="Create a custom field" d="customfields"}
                                    </a>
                                </div>
                            </div>

                            <div class="panel-body">
                        {if $custom_fields|@count > 0}
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>{intl l="ID" d="customfields"}</th>
                                        <th>{intl l="Title" d="customfields"}</th>
                                        <th>{intl l="Code" d="customfields"}</th>
                                        <th>{intl l="Type" d="customfields"}</th>
                                        <th>{intl l="Source" d="customfields"}</th>
                                        <th class="text-right">{intl l="Actions" d="customfields"}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach from=$custom_fields item=custom_field}
                                        <tr>
                                            <td>{$custom_field->getId()}</td>
                                            <td>{$custom_field->getTitle()}</td>
                                            <td><code>{$custom_field->getCode()}</code></td>
                                            <td>
                                                {if $custom_field->getType() === "textarea"}
                                                    {intl l="Textarea" d="customfields"}
                                                {elseif $custom_field->getType() === "text"}
                                                    {intl l="Text" d="customfields"}
                                                {elseif $custom_field->getType() === "wysiwyg"}
                                                    {intl l="Wysiwyg" d="customfields"}
                                                {else}
                                                    {$custom_field->getType()}
                                                {/if}
                                            </td>
                                            <td>
                                                {foreach from=$custom_field->getCustomFieldSources() item=source name=sources}
                                                    {$source->getSource()}{if not $smarty.foreach.sources.last}, {/if}
                                                {/foreach}
                                            </td>

                                            <td class="text-right">
                                                <a href="{url path='/admin/module/customfields/update/%id' id=$custom_field->getId()}"
                                                   class="btn btn-sm btn-default"
                                                   title="{intl l='Edit' d='customfields'}">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </a>
                                                <a href="{url path='/admin/module/customfields/delete/%id' id=$custom_field->getId()}"
                                                   class="btn btn-sm btn-danger"
                                                   title="{intl l='Delete' d='customfields'}"
                                                   onclick="return confirm('{intl l='Are you sure you want to delete this custom field?' d='customfields'}');">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        {else}
                            <div class="alert alert-info">
                                {intl l="No custom fields found." d="customfields"}
                            </div>
                        {/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {* General Values Tab *}
            <div role="tabpanel" class="tab-pane {if $current_tab == 'general_values'}active{/if}" id="general_values">
                <div class="row">
                    <div class="col-md-12">
                        {include file="custom-fields-general-values.html"}
                    </div>
                </div>
            </div>

        </div>
    </div>
{/block}
